<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
       {{>header}} 

        <p1>This page uses API and gets data from mapbox.com and darksky.net ! </p1>   
        <h1></h1>
    <div>
        <img src="/img/robot.png">
    </div>
    

    </div>

    
    {{>footer}}

</body>

</html>